bin

/distribution
.classpath
.project
*.DS_Store
local.properties
/.idea

debug/.gradle
debug/.idea

**/examples/**/AndroidManifest.xml

**/*.iml
**/.DS_Store
**/build
**/bin
**/dist

**/local.properties
.gradle

.java-version


